<div class="container">

  <div class="jumbotron">
    <h1>Awesome AngularJS Contact form</h1>

    <hr>

    <form novalidate name="form" ng-submit="main.resetForm(form)">
      <div class="row">
        <label for="username">
          Имя *
        </label>
        <input autofocus type="text" id="username" name="username" ng-model="main.contact.username" required>
      </div>
      <div class="row error">
        <div ng-show="(form.username.$dirty || form.username.$touched) && form.username.$error.required">
          Введите свое имя
        </div>
      </div>
      <div class="row">
        <label for="phoneNumber">
          Номер телефона *
        </label>
        <input type="text" required id="phoneNumber" name="phoneNumber"
               ng-model="main.contact.phoneNumber"
               ui-mask="(999) 999-9999" ui-options="{clearOnBlur: false}"
        >
      </div>
      <div class="row error">
        <div ng-show="(form.phoneNumber.$dirty || form.phoneNumber.$touched) &&
            (form.phoneNumber.$error.mask || form.phoneNumber.$error.required)">
          Введите действительный номер телефона
        </div>
      </div>
      <div class="row">
        <label for="address">
          Address
        </label>
        <input type="text" id="address" name="address" ng-model="main.contact.address" address>
      </div>
      <div class="row error">
        <div ng-show="(form.address.$dirty || form.address.$touched) && form.address.$error.address">
          Введите действительный адрес
        </div>
      </div>
      <div class="row">
        <label for="message">
          Сообщение *
        </label>
        <textarea id="message" name="message" required
                  ng-model="main.contact.message"
                  ng-minlength="10"
                  ng-maxlength="100">
        </textarea>
      </div>
      <div class="row error">
        <div ng-show="(form.message.$dirty || form.message.$touched) && form.message.$error.required">
          Пожалуйста введите сообщение
        </div>
        <div ng-show="(form.message.$dirty || form.message.$touched) && form.message.$error.minlength">
          Минимальная длина сообщения - 10 символов
        </div>
        <div ng-show="(form.message.$dirty || form.message.$touched) && form.message.$error.maxlength">
          Максимальная длина сообщения - 120 символов
        </div>
      </div>
      <div class="row">
        <input type="submit" class="btn" value="Отправить" ng-disabled="!form.$valid">
      </div>
    </form>
  </div>

</div>
