/* Do not remove the comments below. It's the markers used by wiredep to inject
   less dependencies when defined in the bower.json of your dependencies */
// bower:less
// endbower

@invalid: #cc3300;
@valid: #339900;

body {
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 760px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.jumbotron {
  padding: 60px;
  margin-bottom: 30px;
  background-color: #d6d6d6;
  border-radius: 6px;
  text-align: center;
}

.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid lighten(@valid, 5%);
  color: white;
  background-color: @valid;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;

  &:disabled {
    background-color: tint(@valid, 20%);
  }

  &:hover {
    &:not(:disabled) {
      background-color: darken(@valid, 5%);
    }
    &:disabled {
      cursor: not-allowed;
    }
  }
}

.pull-right {
  float: right;
}

hr {
  clear: both;
}

.row {
  margin: 15px;

  &:after {
    display: table;
    content: ' ';
    clear: both;
  }

  &.error {
    color: @invalid;
    * {
      transition: all linear 0.5s;
    }

    .ng-hide-remove,
    .ng-hide-add.ng-hide-add-active {
      opacity: 0;
      height: 0;
      display: block !important;
    }

    .ng-hide-add,
    .ng-hide-remove.ng-hide-remove-active {
      opacity: 1;
      height: 18px;
      display: block !important;
    }
  }
}

form {
  label {
    float: left;
    width: 150px;
    font-weight: bold;
  }

  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
    outline: none;
  }

  input, textarea {
    width: 250px;
    padding: 5px;
    border: 2px solid transparent;
    border-radius: 5px;

    &.ng-dirty, &.ng-touched {
      &.ng-invalid {
        border-color: @invalid;
      }
      &.ng-valid {
        border-color: @valid;
      }
    }
  }
}

/* Do not remove the comments below. It's the markers used by gulp-inject to inject
   all your less files automatically */
// injector
// endinjector
